[submodule "lotus"]
	path = lotus
	url = https://github.com/filecoin-project/lotus
[submodule "visor"]
	path = visor
	url = https://github.com/filecoin-project/sentinel-visor
[submodule "drone"]
	path = drone
	url = https://github.com/filecoin-project/sentinel-drone
