[Unit]
Description=Sentinel Lotus
After=network-online.target
Requires=network-online.target

[Service]
Environment=GOLOG_FILE="/var/log/sentinel/lotus-daemon.log"
Environment=GOLOG_LOG_FMT="json"
EnvironmentFile=-/etc/sentinel/lotus.env
ExecStart=/usr/local/bin/lotus daemon
Restart=always
RestartSec=30

MemoryAccounting=true
MemoryHigh=10G
MemoryMax=12G
LimitNOFILE=8192:10240

[Install]
RequiredBy=sentinel.service
