[Unit]
Description=Sentinel
Requires=lotus-daemon.service
Wants=telegraf.service
Wants=chainwatch.service

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
