[Unit]
Description=Sentinel Visor
After=lotus-daemon.service
Requires=lotus-daemon.service

[Service]
Environment=GOLOG_FILE="/var/log/sentinel/visor.log"
Environment=GOLOG_LOG_FMT="json"
Environment=GOLOG_OUTPUT="file+stderr"
Environment=LOTUS_DB="postgres://postgres:password@localhost:5432/postgres?sslmode=disable"
Environment=LOTUS_PATH="%h/.lotus"
EnvironmentFile=-/etc/sentinel/visor.env
ExecStart=/usr/local/bin/sentinel-visor run
Restart=always
RestartSec=35

[Install]
WantedBy=sentinel.service
