[Unit]
Description=Sentinel Telegraf
Documentation=https://github.com/influxdata/telegraf
After=network.target
After=lotus-daemon.service
Requires=lotus-daemon.service

[Service]
EnvironmentFile=-/etc/sentinel/telegraf.env
User=telegraf
ExecStart=/usr/bin/telegraf -config /etc/telegraf/telegraf.conf -config-directory /etc/telegraf/telegraf.d $TELEGRAF_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=35
RestartForceExitStatus=SIGPIPE
KillMode=control-group

[Install]
WantedBy=sentinel.service
